.dropdown-item a {
    text-decoration: none;
    color: black;
}
.dropdown-item a:hover{
    text-decoration: underline;
}
.navbar {
    width: 100%;
}
.navbar .d-flex {
    justify-content: center;
}
.nav-item.dropdown {
    display: flex;
    align-items: center;
}
